<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .a{
        display:inline-block;
        margin-left: 100px;
    }
    .b{
        display:inline-block;
        margin-left: 100px;

    }
    </style>
</head>
<body>
    <div class="a"> 
        <h1>Add a Author</h1>
        First Name: <input type="text">
    </br>
        Last Name: <input type="text">
    </br>
        Notes:<textarea ></textarea>
    </br>
    </br>
        <a href=""><button>Add</button></a>
    </div>
    <div class="b">
        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Title</th> 
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Jane Austen</td> 
                <td><a href="">view</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Emily Dickinson</td> 
                <td><a href="">view</a></td>
                </tr>
             <tr>
                <td>3</td>
                <td>Fyodor Dostovsky</td> 
                <td><a href="">view</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Bill Shakespeare</td> 
                <td><a href="">view</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Lau Tzu</td> 
                <td><a href="">view</a></td>
            </tr>
        </table>
    </div>
    
</body>
</html>